form#meses{
	width: 300px;
	margin: 0 auto;
	/*position: fixed;
	top: 100px*/
}
select{ /*Estilização da caixa de seleção*/
	width: 100%;
	height: 70px;
	margin-top: 40px;
	font-size: 1.1em;
	background-color: #36404655;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding-left: 5%;
	text-align: center;
}
#mes{
	margin-bottom: 50px;
}
#mes:hover {
	background-color:#ddd;
}
#mes #placeholder{
	color: #555;
}
option{
	border-radius: 10px;
}
h2.card-theme{
	border-left: 5px solid #ffc107;
	width: 100% !important;
}
.graficos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
#bar-chart, #line-chart{
	width: 500px;
	height: 700px;
	margin-top: 50px;
}
.container-consumo{
	height: 50vh;
}
@media(max-width: 1200px){
	#bar-chart, #line-chart{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
@media(max-width: 768px){
	#line-chart ,#bar-chart{
        height: 310px !important;
        width: 340px !important
    }
    h2.card-theme{
		border-left: 5px solid #ffc107;
		width: 120% !important;
		margin-left: -10% !important;
	}
	.alert{
		width: 120% !important;
		margin-left: -10% !important;
	}
}