.dicas-container{
	margin: 20px 0px !important;
}
.colunas p{
	padding: 25px;
	text-align: justify;
	width: 95%;
	margin: auto;
 	font-size: 1.2em;
}
.a{
	height: 220px;
	width: 100%;
	margin: 0 auto;
	/*background-color: #2E6171;
	color: white;*/
}
.b{
	height: 465px;
	width: 100%;
	margin: 0 auto;
	/*background-color: #2E6171;
	color: white;*/
}
.c{
	height: 710px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 25px; 
}
#recarregar{
	text-align: right;
	float: right;
	margin-top: 20px;
	text-decoration: none;
}
.recarregarIcone{
	animation: recarregar 1s;
	/*animation-timing-function: linear;*/
}

@keyframes recarregar{
	0% {transform: rotate(0deg);}
 	100% {transform: rotate(360deg);}
}
.colunas p::first-letter{
 	font-size: 1.4em;
}
@media(max-width:1200px) {
	.a, .b{
		margin-bottom: 25px
	}
	.a, .b, .c{
		width: 100%;
	}
	.b, .c{
		min-height: 375px !important;
		height: 350px !important;
	}
	.dicas-container.row{
		margin-top: 30px;
	}
	#recarregar{
		text-align: center;
		margin: 0px auto;
		width: 20%;
		float: none;
		right: 30px;
		bottom: 100px;
		position: fixed;
	}
}
@media(max-width:768px) {
	.b, .c{
		min-height: 375px !important;
		height: auto !important;
	}
	p{
		font-size: 1.2em !important;
		width: 100% !important;
	}
}
/*#####################CONQUISTAS#####################*/
/*#####################CONQUISTAS#####################*/
.conquistas-container h1{
	color: #ffc107;
}
.nao_conquistado, .nao_conquistado + p{
	color: #808080 !important;
}