.first-container{
	margin: 20px 0px;
}
.colunas p{
	padding: 25px;
	padding-top: 40px;
	text-align: justify;
}
.a{
	height: 220px;
	width: 90%;
	margin: 0 auto;
	background-color: #00aadd44;
	margin-bottom: 25px;
}
.b{
	height: 465px;
	width: 90%;
	margin: 0 auto;
	background: #ddaa0077;
	margin-bottom: 25px; 
}
.c{
	height: 710px;
	width: 90%;
	margin: 0 auto;
	background-color: #2b703055;
	margin-bottom: 25px; 
}
#recarregar{
	text-align: right;
	float: right;
	margin-top: 20px;
	color: white;
	text-decoration: none;
	margin-right: 4%
}
p::first-line {
	font-weight: bold;
 	font-size: 1.2em;
}
@media(max-width:1200px) {
	.a, .b{
		margin-bottom: 25px
	}
	.a, .b, .c{
		width: 100%;
	}
	.row{
		margin-top: 30px;
	}
	#recarregar{
		text-align: center;
		margin-bottom: 50px;
		width: 30%;
		float: none;
		margin-left: 35%;
		position: relative;
	}
}