.ideal .row h1.card-theme{ /*Estilização do título*/
	text-align: left;
	margin: 0 auto;
	text-transform: none;
    font-weight: normal;
    border-left: 5px solid #ffc107;
    width: 85% !important;
    font-size: 2em;
}
.ideal .col-xl-6 h1 ~ p{ /*Estilização do paragrafo*/
	width: 85% !important;
	margin: 0 auto;
	text-align: justify;
	font-size: 1.4em;
}
.pergunta, .resultado{ /*Estilização da pergunta*/
	padding: 50px 10px; 
	width: 90%; margin: auto; 
	background-color: #ffc107; 
	color: #343a40; 
	margin-right: 15%;
	margin-bottom: 50px;
	border-radius:10px; 
	text-align: center;
	box-shadow:0 5px 0 #6B5103;  
}
.resultado{
	box-shadow:none;  
	width: 70%; 
}
label{
	display: inline !important;
}
.alternativas{
	font-size: 18px;
	font-weight: 700;
	border:none;
	padding: 10px 10px; 
	cursor: pointer;
	width: 45%; 
	display: inline-block;
	margin: auto; 
	margin-bottom: 10px;	
	margin-right: 15%;
	background-color: #4f585d;
	color: #fff; 
	box-shadow:0 5px 0 #121417dd;  
	text-align: center;
	border-radius: 10px;
	background-color: #ffd86d !important;
	box-shadow:0 5px 0 #846B21 !important; 
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;  
}
/*.alternativas:hover{
	box-shadow:0 5px 0 #ffc107;
}*/
.alternativas:active{
	position:relative;
	top: 5px;
	box-shadow:none !important;
}
.alternativa_a{
	margin-left: 5% !important; 
}
.alternativa_b{
	background-color: #e8bd46;
	box-shadow:0 5px 0 #6B5103;
}
.alternativa_c{
	background-color: #CC9E1F;
	box-shadow:0 5px 0 #382A02;
	margin-left: 5% !important;
}
h4{
	color: #343a40;
}
input[type=radio]:checked + label .alternativas{
    background-color: #ffc107!important; //#2e6171
	box-shadow:0 5px 0 #132f38;  
}
/*input[type=radio]:checked + label .alternativas h4{
	color: #fff;
}*/
.page-item.active .page-link {
    color: #464b51!important;
    background-color: #ffc107!important;
    border-color: #ffc107!important;
}
.pagination>li>a, .pagination>li>span{
	margin: 0 1px;
	width: 38px;
}
.pergunta ~ form input{
	display: none;
}
.next{
	width: 230px !important;
}
#definirmeta{
	display: block;
	width: 45%;
	height: 70px;
	margin: auto;
	line-height: 55px;
	position: relative;
}
@media(max-width:768px) {
	.ideal h1, .ideal p, .pergunta, .resultado, .alternativas{
		width: 90% !important;
	}
	.pergunta, .alternativas{
		margin-left: 5% !important;
	}
	.ideal h1{
		font-size: 2em
	}
}