.ideal .row h1{ /*Estilização do título*/
	text-align: left;
	width: 70%;
	margin: 0 auto;
	margin-right: 15%;
	text-transform: none;
    font-weight: normal;
}
.row .col-xl-6 h1 ~ p{ /*Estilização do paragrafo*/
	width: 70%;
	margin: 0 auto;
	font-size: 20px;
	text-align: justify;
	font-size: 1.4em;
}
.pergunta, .resultado{ /*Estilização da pergunta*/
	padding: 50px 10px; 
	width: 70%; margin: auto; 
	background-color: #ffc107; 
	color: #464b51; 
	margin-right: 15%;
	margin-bottom: 50px;
	border-radius:10px; 
	text-align: center;
}
label{
	display: inline !important;
}
.alternativas{
	font-size: 18px;
	font-weight: 700;
	border:none;
	padding: 10px 10px; 
	cursor: pointer;
	width: 70%; 
	margin: auto; 
	margin-bottom: 20px;
	margin-right: 15%;
	background-color: #4f585d;
	color: #fff; 
	box-shadow:0 5px 0 #121417dd;  
	text-align: center;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;  
}
/*.alternativas:hover{
	box-shadow:0 5px 0 #ffc107;
}*/
.alternativas:active{
	position:relative;
	top: 5px;
	box-shadow:none !important;
}
.alternativa_a{
	background-color: #ffd86d;
	box-shadow:0 5px 0 #846B21;  
}
.alternativa_b{
	background-color: #e8bd46;
	box-shadow:0 5px 0 #6B5103;
}
.alternativa_c{
	background-color: #CC9E1F;
	box-shadow:0 5px 0 #382A02;
}
h4{
	color: #343a40;
}
input[type=radio]:checked + label .alternativas{
    background-color: #2e6171;
	box-shadow:0 5px 0 #132f38;  
}
input[type=radio]:checked + label .alternativas h4{
	color: #fff;
}
.pergunta ~ form input{
	position: absolute;
	visibility: hidden;
}
.next{
	width: 230px !important;
}
#definirmeta{
	display: block;
	width: 45%;
	height: 70px;
	text-align: center;
	margin: auto;
	line-height: 55px;
	position: relative;
	margin-top: 50px;
	color: #fff;
}
@media(max-width:768px) {
	.ideal h1, .ideal p, .pergunta, .resultado, .alternativas{
		width: 90% !important;
	}
	.ideal h1, .pergunta, .alternativas{
		margin-left: 5% !important;
	}
	.col-md-12, .ideal p{
		margin: auto !important;
	}
}
/*https://www.cliquearquitetura.com.br/public/Painel/midia/imagem/full/tendencia_de_cores_2018_14_0.jpg*/