.row h1{ /*Estilização do título*/
	text-align: left;
	width: 70%;
	margin: 0 auto;
	margin-right: 15%;
	text-transform: none;
    font-weight: normal;
}
.row .col-xl-6 h1 ~ p{ /*Estilização do paragrafo*/
	width: 70%;
	margin: 0 auto;
	font-size: 20px;
	text-align: justify;
}
.pergunta, .resultado{ /*Estilização da pergunta*/
	padding: 50px 10px; 
	width: 70%; margin: auto; 
	background-color: #2b3530; 
	color: #fff; 
	margin-right: 15%;
	margin-bottom: 50px; 
	box-shadow: 2px 2px 4px #ddd;
	text-align: center;
}
label{
	display: inline !important;
}
.alternativas{
	font-size: 18px;
	font-weight: 700;
	border:none;
	padding: 10px 10px; 
	cursor: pointer;
	width: 70%; 
	margin: auto; 
	margin-bottom: 20px;
	margin-right: 15%;
	background-color: #4f585d;
	color: #fff; 
	box-shadow:0 5px 0 #121417dd;  
	text-align: center;
}
.alternativas:hover{
	background: #53a761;
}
.alternativas:active{
	position:relative;
	top: 5px;
	box-shadow:none !important;  
}
.alternativa_a{
	background-color: #516746;
	box-shadow:0 5px 0 #3a4436;  
}
.alternativa_b{
	background-color: #404e37;
	box-shadow:0 5px 0 #2a3125;
}
.alternativa_c{
	background-color: #2e3829;
	box-shadow:0 5px 0 #1c2119;
}
input[type=radio]:checked + label .alternativas{
    background-color: #467fe0;
	box-shadow:0 5px 0 #1c458a;  
}
.pergunta ~ form input{
	position: absolute;
	visibility: hidden;
}
.next{
	background-color: #2b3530 !important;
}
#definirmeta{
	display: block;
	width: 45%;
	height: 70px;
	text-align: center;
	margin: auto;
	line-height: 55px;
	position: relative;
	margin-top: 50px;
	color: #fff;
}
@media(max-width:1200px) {
	.row .col-xl-6 h1 ~ p{
		margin-bottom: 50px !important;
	}
	button{
		margin-bottom: 50px;
	}
}
@media(max-width:768px) {
	.row h1, p, .pergunta, .resultado, .alternativas{
		width: 90% !important;
	}
	.row h1, .pergunta, .alternativas{
		margin-left: 5% !important;
	}
	.col-md-12, p{
		margin: auto !important;
	}
}
/*https://www.cliquearquitetura.com.br/public/Painel/midia/imagem/full/tendencia_de_cores_2018_14_0.jpg*/