.texto_metas h1{ /*Estilização do título*/
	text-align: left;
	width: 70%;
	margin: 0 auto;
	margin-right: 15%;
	text-transform: none;
    font-weight: normal;
}
.container-metas{
	min-height: 85vh !important;
}
.container-metas h2{ /*Estilização do título*/
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.container-metas h2 + p{ /*Estilização do paragrafo*/
	width: 70%;
	margin: 0 auto;
	font-size: 20px;
	text-align: justify;
	margin-left: 15%;
	margin-bottom: 50px;
}
.meta{
	min-height: 80vh !important;
}
#meta,  #ideal{
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
#meta input{
	height: 40px;
	margin: 0 auto;
	border: 2px solid #ddd;
	text-align: center;
	display: block;
	background-color: #ddd;
	border-radius: 10px;
}
.container-metas button{
	margin-top: 10px;
	height: 50px;
}
#consumoideal, #mensagem{
	display: block;
	width: 60%;
	text-align: center;
	position: relative;
	margin-top: 80px;
	margin-bottom: 50px;
	border-radius: 10px;
}
#mensagem{
	margin-top: 42px;
	margin-bottom: 0px;
	color: #fff;
	background-color: #3b94af !important;
	border:none !important;
}
.instrucoes, #notificationdiv{
	width: 60%;
	margin: auto;
	font-size: 1.5em;
	text-align: justify;
}
.valor{
	margin: auto;
	font-size: 3em;
	text-align: center;
	line-height: 1.1em
}
.metas h2, .metas input, .metas button, .metas a{
	width: 75% !important
}
.colunas-meta{
	min-height: 35vh;
	padding: 50px;
	background-color: #fff;
}
.colunas-meta.d-table-cell, .texto_metas .row{
	background-color: #3b94af!important;
}
.colunas-meta p{
	width: 70%;
	text-align: justify;
	margin: auto;
	font-size: 1.2em;
}
.coluna-meta-back{
	height: 300px; 
	margin-top: -15%;
	z-index: -1
}
.container-metas .alert-danger{
    margin: 5px auto !important;
}
.modal_input_time{
    background-color: #f6f6f6!important;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 1.6em;
    font-weight: 100;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 
@media(max-width:1200px) {
	.margin-top{
		margin-top: 50px !important;
	}
	.coluna-meta-back{
        margin-top: -2px;
        height: 0px; 
    }
}
@media(max-width:768px) {
	.colunas-meta h1, .colunas-meta p,.container-metas h2, 
	#meta input, #meta button, .instrucoes, 
	.alert-danger, #consumoideal, #mensagem, #notificationdiv{
		width: 90% !important;
	}
	.metas.px-5{
		padding: 0px !important;
	}
}