.container .row .box .chart{
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  line-height: 412.5px;
  width: 525px;
  font-weight: 200;
  top: 0px; /*Se o botão de leitura for readicionado é só mudar pra 34px e olhar o comentario do @media768px*/
}
.line-height-normal{
  line-height: 1em!important;
}
#vcgastou{
  transform: translateY(-20px);
}
#porcentagem{
  font-size: 1em;
  font-weight: 400;
  line-height: 55px;
  transform: translateY(-200px);
}
#numeroporcentagem{
  font-size: 3em;
}
#horas{
  font-size: 1em;
  font-weight: 200;
}
.container .row .box canvas{
  position: absolute;
  top: 0px;
  left: 0px;
}
.text p, #titulo_index{
  width: 85% !important;
  text-align: justify; /*!important descomente para alinhar o titulo a direita*/;
}
#titulo_index{
  border-left: solid 10px #ffc107;
}
#addButton{
  top: -100px !important;
  font-size: 1.8em;  
  left: 200px
}
a.text-warning:focus{
  color: #ffc107 !important;
}
@media(max-width:1200px) {
  .container .row .box .chart{
    max-width: 550px;
  }
  /*.text p, #titulo_index{
    text-align: center !important;
  }*/
  .line-height-normal{
    margin-top: 50px!important;
    margin-bottom: 50px!important;
  }
}
@media(max-width:768px) {
  .container .row .box .chart{
    line-height: 7em;
    width: 300px !important;
    margin: auto;
    min-height: 350px;
    top: 34px; /*Se o botão de leitura for readicionado remover essa linha*/
  }
  #vcgastou{
    transform: translate(-10px,-15px);
    font-size: 0.7em !important;
  }
  #titulo_index{
    margin-bottom: 1rem !important;
  }
  #porcentagem{
    line-height: 45px;
    transform: translateY(-105px);
    margin-bottom: -40%;
  }
  #numeroporcentagem{
    font-size: 2em !important;
    line-height: 20px  !important;
    transform: translateX(-10px);
  }
  #horas{
    transform: translateY(-120px) !important;
    font-size: 0.7em !important;
  }
  .container .row .box canvas{
    width: 300px !important;
    height: auto !important;
    margin: auto !important;
  }
  #addButton + h1{
    height: 0px;
  }
  .text{
    max-width: 90% !important;
    margin: 0 5%;
    font-size: 1.2em !important;
  }
  .text p, #titulo_index{
    width: 110% !important;
    margin-left: -5% !important;
  }
  #primeirobutton{
    width: 110% !important;
    margin-left: -5% !important;
  }
  p{
    font-size: 1.2em !important;
    width: 110% !important;
  }
  .modal-body p{
    font-size: 0.55em !important;
    width: 100% !important;
  }
  .last-p{
    width: 120% !important;
    margin-left: -10% !important;
  }
  #addButton{
    top: -75px !important;
    font-size: 1em!important;
    left: 110px !important;
  }
}