body {
  padding: 0;
  margin: 0;
}
.container{
  margin: 0 auto; /*largura do circulo// altere tb no js*/
}
.container .row .box .chart{
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 4em;
  line-height: 425px;
  width: 550px;
  font-weight: 200;
}
#tempo p{
  font-size: 0.5em;
  font-weight: 400;
}
#tempo{
  line-height: 55px;
  transform: translateY(-190px);
}
#horas{
  font-size: 2em;
  font-weight: 200;
}
.container .row .box canvas{
  position: absolute;
  top: 0px;
  left: 0px;
}
.text p{
  width: 70% !important;
  text-align: right !important;
}
@media(max-width:1200px) {
  .container .row .box .chart{
    max-width: 550px;
  }
  .text p{
    text-align: center !important;
  }
}
@media(max-width:768px) {
  .container .row .box .chart{
    font-size: 3.2em;
    line-height: 7em;
    //min-width: 300px !important;
    //min-height: 300px !important;
    width: 300px !important;
    margin: auto;
  }
  .texto_grafico p{
    transform: translateY(-70px);
    text-align: center;
    font-size: 0.9em;
  }
  #tempo{
    line-height: 40px;
    transform: translateY(-170px);
    margin-bottom: -40%;
    font-size: 1em;
  }
  .container .row .box canvas{
    width: 300px !important;
    height: auto !important;
    margin: auto !important;
  }
  .text{
    max-width: 90% !important;
    margin: 0 5%;
    font-size: 1em !important;
  }
  .text p{
    width: 100% !important;
  }
}