body {
  padding: 0;
  margin: 0;
}
.container{
  margin: 0 auto; /*largura do circulo// altere tb no js*/
}
.container .row .box .chart{
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
  line-height: 435px;
  min-width: 550px;
}
#percent p::first-line {
  font-weight: bold;
  font-size: 0.5em;
}
#percent{
  line-height: 50px;
  transform: translateY(-180px);
}
.container .row .box canvas{
  position: absolute;
  top: 0px;
  left: 0px;
}
.text p{
  max-width: 70%;
  margin: 0 15%;
  text-align: justify;
}
@media(max-width:1200px) {
  .container .row .box .chart{
    max-width: 550px;
  }
}
@media(max-width:768px) {
  .container .row .box .chart{
    font-size: 3.2em;
    line-height: 330px;
    min-width: 460px !important;
    width: 460px !important;
  }
  #percent{
  line-height: 40px;
  transform: translateY(-145px);
  }
  .container .row .box canvas{
    width: 90%;
    margin-left: 5% !important;
  }
}