body, html{
	width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f6f6f6 !important;
}
.master{
    min-height: 100%; /*Configuração necessaria para o footer*/
    overflow-x: hidden;
    background-color: #464B51;//bg-dark
}
* html .master {
    height: 100%; /* hack para IE6 que trata height como min-height */
}
@font-face{
    font-family: 'Nexa';
    src:url('../fonts/Nexa/Nexa-Light.otf');
}
h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'Nexa' !important;
}
h2{
    width: 100%;
    margin: auto;
    font-family: 'Nexa' !important;
}
p{
    font-weight: lighter;
}
header .navbar{
    height: 55px;
    z-index: 2;
}
.logo h1{
    vertical-align: middle !important;
}
#wrapper {
    padding-left: 0;
    padding-top: 55px;
    z-index: 1;
}
#wrapper.toggled {
    padding-left: 0px;
}
/* Estilização da Sidebar */
#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    padding-top: 0px;
    z-index: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 2;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
.container{
    padding-top: 0px !important;
}
.dropdown-divider{
    margin: 0 auto !important;
    border-color: #b5b5b5;
    width: 90%;
}
#dark{
    z-index: 1;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    background: var(--app-drawer-scrim-background, rgba(0, 0, 0, 0.6));
}
.visible{
    opacity: 1 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0 auto;
    z-index: -1;
    border-color: #464B51;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
    height: 100%;
}
.text{
    font-size: 1.75em;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 10px 0px;
}
.sidebar-nav li a:hover{ /*hover dos itens do menu*/
    text-decoration: none;
    color: #fff !important;
    background-color: #464B51;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus{
    text-decoration: none;
}
.sidebar-nav li a .fas{ /*espaçamento dos icones no menu*/
    width: 16px;
    margin-left: -20px;
    margin-right: 35px;
}
#menu-toggle, #toggle-theme{ /*Visibilidade do botão de menu*/
    visibility: visible;
    //color: #fff;
}
#menu-toggle i, #toggle-theme i{ /*Visibilidade do botão de menu*/
    font-size: 25px;
}
#toggle-theme{
    right: 15px;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none !important;
}
.atual{
    border-left: solid 5px #464B51; /*Estilos de marcarção para situar página do menu*/
    background-color: #FFC107;
}
.atual a{
    color:#464B51 !important;
    margin-left: -5px !important;
}
.bg-dark .atual{
    border-left: solid 5px #FFC107; /*Estilos de marcarção para situar página do menu*/
    background-color: #464B51;
}
.bg-dark .atual a{
    color: #FFC107 !important;
}
.atual a:hover{
    text-decoration: none;
    color: #fff !important;
    background-color: #FFC107 !important;
}
.barra-horizontal{
    background-color: #2E6171;      
}
.barra-horizontal .rounded-circle{
    border: 3px solid white;
    width: 200px !important;
    height: 200px !important;
}
.barra-horizontal .rounded-circle i{
    font-size: 6em; 
    color: white
}
h4{
    color: white;
}
.container-fluid .row{
    margin-top: 0;
}
.colunas-home{ /*Colunas duplas abaixo da barra central*/
    min-height: 65vh;
    padding: 30px !important;
}
.colunas-home p{
    width: 100% !important;
    text-align: justify;
    margin: auto;
    font-size: 1.35em;
}
.line{
    border-right: none;
}
#vertical-line{
    visibility: hidden;
}
.last-container{
    height: 50vh;
    background-color: #2E6171;
}
.last-container h2{
    text-align: center;
    width: 85%;
}
.last-container p{
    text-align: justify;
    width: 85%;
    font-size: 20px;
}
.last-container i{
    font-size: 10em; 
    color: white
}
.bg-dark2{
    background-color: #464b51!important;
    border-color: #464b51!important;
}
@media(min-width:1200px) {
    .first-container {
        overflow:hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 78px);
    }
    .barra-central img{
        margin: 0 5%;
        width: 90%
    }
    .line{
        border-right: 2px solid #b1c6d0;
    }
    #vertical-line{
        width: 2px; 
        height: 400px; 
        background-color: #b5b5b5;
        visibility: visible;    
    }
    .last-container h2{
        text-align: right;
    }
    .last-container p{
        text-align: right;
    }
}

@media(min-width:768px) {
    header .navbar{
        height: 78px;
    }
    #wrapper {
        padding-top: 78px;
    }
    .logo img{
        width: 60px !important;
    }
    #menu-toggle{ /*Visibilidade do botão de menu*/
        visibility: hidden;
    }
    #wrapper {
        padding-left: 250px;
        height: 100%;
    }   
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: -250px;
    }
    #page-content-wrapper {
        padding: 0;
        position: relative;
        margin: 0 auto;
        overflow:hidden;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    h2{
        width: 85%;
        margin: auto;
    }
    .colunas-home{
        padding: 60px 100px !important;
    }
    .colunas-home p{
        width: 85% !important;
    }
    footer{
        /*z-index: 1!important;*/
    }
}
footer{
    z-index: 0;
    background-color: #464B51;
    color: #ccc;
}
footer.shadow{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.90)!important;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
}
/*
####################--QuemSomos--####################
*/
.text-lg-left{
    width: 90% !important;
}
.text-lg-left + p{ /*Estilização do paragrafo*/
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
    text-align: left;
}
.row .col-lg-6 img{
    margin: 0 5%;
    width: 90%;
}
.componentes{
    width: 80% !important
}
@media(max-width:992px) {
    .descer{
        -ms-flex-order: 2;
        order: 2;
    }
}
/*
####################--Usuário--####################
*/
.btn{
    border-radius: 25px;
}
.row .d-inline-block{
    height: 520px;
}
.content{
    background-color: #555;
    width: 260px !important; 
    height: 260px !important;   
}
.fa-upload{
    font-size: 3.5em;
    opacity: 0;
}
.content img{
    opacity: 1;
    transition: opacity .35s;
    min-width: 260px;
    min-height: 260px;
    object-fit: cover;
}
#div_photo_user div{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
}
#div_photo_user:hover>a img{
    opacity: 0.25;
}
#div_photo_user:hover>a .fa-upload{
    opacity: 1;
}
input[type="text"]:disabled {
  background: #f8f9fa;
  border: none;
  border-left: 4px solid #FFC107 !important;
}
input[type="text"]:enabled , input[type="password"]:enabled{
  background: white !important;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
  border: none;
  color: black !important;
}
.usuario .input-group{
    width: 280px;
}
.usuario .btn{
    width: 280px !important; 
}
#Salvar_dados{
    visibility: hidden;
}
#Atualizar_dados, #Salvar_dados{
    bottom: 0px;
}
.title_log{
    margin: 20px 0px;
    font-size: 1.8em;
    text-align: center !important;
    min-width: 280px;
}
.usuario{
    padding-top: 0px !important;
}
.dropdown-menu{
    margin-top: -80px;
}
input[type=file]{
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
/*#################Animação Scroll#################*/
.js .anime {
    opacity: 0;
    transform: translate3D(-50px, 0px, 0px);
}
.js .animeRight{
    opacity: 0;
    transform: translate3D(50px, 0px, 0px);
}
.js .anime-init {
    opacity: 1;
    transform: translate3D(0px, 0px, 0px);
    transition: .35s all ease;
}
/*https://codepen.io/origamid/pen/vXEmQJ?editors=0110*/