body,
html {
	height: 100%;
	background: #343a40!important; /*Cor de fundo da página*/
}
.container{
	padding-top: 100px;
}
.user_card { /*Estilização da caixa*/
	height: 25rem;
	width: 22rem;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.fa-user, .fa-address-card{/*correção de width do icone de usuario*/
	width: 16px
}
.form-control{
	width: 190px !important;
}
.login_btn { /*Estilização do botão login e botão cadastrar*/
	width: 230px !important;
	border-radius: 25px;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #343a40 !important; /*Cor de fundo dos icones*/
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #343a40 !important; /*Cor de fundo da checkbox*/
}
.logo_grande{
	margin-top: -160px;
	background: #343a40;
}
.logo_grande_cadastro{
	margin-top: -100px !important;
	background: #343a40;
}
.user_card_senha { /*Estilização da caixa*/
	height: 200px !important;
}
.user_card_cadastro{ /*Estilização da caixa*/
	height: 600px !important;
}
.brand_logo_container div.logo_grande{
	width: auto !important;
	margin-top: -210px;
}
@media(max-width:768px) {
	.user_card_cadastro{
		margin-bottom:30px;
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.popover{
	background: #ffc107;
	width: 190px !important;
}