body, html{
	width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f6f6f6 !important;
}
.tudo{
    min-height: 100%; /*Configuração necessaria para o footer*/
}
* html #tudo {
    height: 100%; /* hack para IE6 que trata height como min-height */
}
h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
h2{
    width: 100%;
    margin: auto;
}
header .navbar{
    height: 55px;
    z-index: 2;
    background-color: #2b3530;
}
.logo img{
    width: 75px !important
}
.btn-secondary{
    background-color: #364046 !important;
    border: none !important;
}
#wrapper {
    padding-left: 0;
    padding-top: 55px;
    position: relative;
    z-index: 1;
}
#wrapper.toggled {
    padding-left: 0px;
}
/* Estilização da Sidebar */
#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #9aada3; /*Cor de fundo do menu*/
    padding-top: 0px;
    z-index: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 2;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
.container{
    padding-top: 0px !important;
}
.dropdown-divider{
    margin: 0 !important;
    border-color: #999;
    width: 75%;
    margin-left: 20% !important;
}
#dark{
    z-index: 1;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    background: var(--app-drawer-scrim-background, rgba(0, 0, 0, 0.6));
}
.visible{
    opacity: 1 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0 auto;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
    height: 100%;
}
.text{
    margin-bottom: 50px;
    font-size: 1.75em;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #444;
    font-size: 1.1em;
    padding: 10px 0px;
}
.sidebar-nav li a:hover { /*hover dos itens do menu*/
    text-decoration: none;
    color: #fff;
    background-color: #364046;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li a .fas{ /*espaçamento dos icones no menu*/
    width: 16px;
    margin-left: -20px;
    margin-right: 35px;
}

#menu-toggle{ /*Visibilidade do botão de menu*/
    visibility: visible;
    position: fixed;
    color: #fff;
}
#menu-toggle i{ /*Visibilidade do botão de menu*/
    font-size: 25px;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none !important;
}
.atual{
    border-left: solid 5px #364046; /*Estilos de marcarção para situar página do menu*/
    background-color: #798984;/*#36404655*/
}
.atual a{
    color: #222 !important;
    margin-left: -5px !important;
}
.atual a:hover{
    text-decoration: none;
    color: #fff !important;
    background-color: #364046;
}
.col-lg-4{
    text-align: center;
}
.rounded-circle{
    margin-bottom: 30px
}
.colunas-home{ /*Colunas duplas abaixo da barra central*/
    min-height: 75vh;
    padding: 30px !important;
    /*background-color: #9aada333;*/
    background-color: #eee;
}
.colunas-home p{
    width: 100% !important;
    text-align: justify;
    margin: auto;
    color: #2b3530;
    font-size: 1.15em;
}
.line{
    border-right: none;
}
.last-container{
    height: 50vh;
    padding: 60px 100px;
}
@media(min-width:1200px) {
    .first-container {
        overflow:hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 78px);
    }
    .barra-central img{
        margin: 0 5%;
        width: 90%
    }
    .line{
        border-right: 2px solid #dcdccc;
    }
}
@media(min-width:768px) {
    header .navbar{
        height: 78px;
    }
    #wrapper {
        padding-top: 78px;
    }
    .logo img{
        width: 110px !important
    }
    #menu-toggle{ /*Visibilidade do botão de menu*/
        visibility: hidden;
    }
    #wrapper {
        padding-left: 250px;
        height: 100%;
    }   
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: -250px;
    }
    #page-content-wrapper {
        padding: 0;
        position: relative;
        margin: 0 auto;
        overflow:hidden;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .rounded-circle{
        margin-bottom: 100px
    }
    h2{
        width: 85%;
        margin: auto;
    }
    .colunas-home{
        padding: 60px 100px !important;
    }
    .colunas-home p{
        width: 85% !important;
    }
}
/*
footer{
	position: relative;
	width: 100%;
	height: 35px;
    margin: auto auto;
    background-color: #353535;
    z-index: 2;
}
footer ul{
    margin: 0px;
}
footer li{
    list-style: none;
    margin: auto;
    line-height: 35px  
}
footer a{
	text-decoration: none;
	color: #ddd;
}
footer a:hover{
	text-decoration: none;
	color: #fff;
}*/
footer{
    z-index: 1;
}
/*
####################--QuemSomos--####################
*/
.text-center{ /*Estilização do título*/
    margin: 0 auto;
    text-align: left;
    text-transform: none;
    font-weight: normal;
}
.text-center + p{ /*Estilização do paragrafo*/
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
    text-align: left;
}
.row .col-lg-6 img{
    margin: 0 5%;
    width: 90%;
}
@media(max-width:992px) {
    .descer{
        -ms-flex-order: 2;
        order: 2;
    }
}
/*
####################--Usuário--####################
*/
.row .d-inline-block{
    height: 520px;
}
.content{
    background-color: #555;
    width: 260px; 
    height: 260px !important;   
}
.usuario .input-group{
    width: 300px;
}