body, html{
	width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f6f6f6 !important;
}
.master{
    min-height: 100%; /*Configuração necessaria para o footer*/
    overflow-x: hidden;
    background-color: #464B51;//bg-dark
}
* html .master {
    height: 100%; /* hack para IE6 que trata height como min-height */
}
@font-face{
    font-family: 'Nexa';
    src:url('../fonts/Nexa/Nexa-Light.otf');
}
@font-face{
    font-family: 'Existence';
    src:url('../fonts/Existence/Existence-Light.otf');
}
@font-face{
    font-family: 'Lane';
    src:url('../fonts/Lane/LANENAR.ttf');
}

h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'Lane' !important;
}
h2{
    width: 100%;
    margin: auto;
    font-family: 'Lane' !important;
}
p{
    font-weight: lighter;
}
a, a:hover{
    text-decoration: none;
}
header .navbar{
    height: 55px;
    z-index: 3;
    background-color: #22242a;
}
.logo{
    margin: auto;
}
.logo h1{
    vertical-align: middle !important;
    text-transform: uppercase;
    font-size: 1.8em ;
    font-family: Existence!important;
    color: #22242a;
}
td:nth-child(1){
    min-width: 180px !important;
}
tr.theme:hover{
    background-color: #ffc107;
}
#wrapper {
    padding-left: 0;
    padding-top: 55px;
}
#wrapper.toggled {
    padding-left: 0px;
}
/* Estilização da Sidebar */
#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    padding-top: 0px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 3;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
.container{
    padding-top: 0px !important;
}
.dropdown-divider{
    margin: 0 auto !important;
    border-color: #b5b5b5;
    width: 100%;
}
#dark{
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    background: var(--app-drawer-scrim-background, rgba(0, 0, 0, 0.6));
}
.visible{
    opacity: 1 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0 auto;
    border-color: #464B51;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
    height: 100%;
}
#card-home{
    height: 100px !important;
    margin-top: 1.5rem!important;
}
.text{
    font-size: 1.6em;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    /*margin: 0;*/
    overflow-y: auto;
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 10px 0px;
    position: relative; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;  
}
#painelnot span:hover{ /*hover dos itens do menu*/
    text-decoration: none;
    color: #fff !important;
    background-color: #464B51;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus{
    text-decoration: none;
}  
.sidebar-nav li a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.2s ease 0s; 
  -webkit-transition: all 0.2s ease 0s; 
  z-index: -1;
}
.sidebar-nav li a:hover{
    color: #fff !important;
}
.sidebar-nav li a:hover:after{ width: 100%;}
.sidebar-nav li a:after{ 
    text-decoration: none;
    background-color: #464B51; 
}
.atual{
    border-left: solid 5px #464B51; /*Estilos de marcarção para situar página do menu*/
    background-color: #FFC107;
}
.atual a{
    color:#464B51 !important;
    margin-left: -5px !important;
}
.bg-dark .atual{
    border-left: solid 5px #FFC107; /*Estilos de marcarção para situar página do menu*/
    background: #464B51;
}
.bg-dark .atual a{
    color: #FFC107 !important;
}
.atual:hover{
    background: #464B5100;
    border-left: solid 5px #FFC107;
}
.sidebar-nav li.atual a:after{ 
    text-decoration: none;
    background-color: #FFC107!important; 
}
.sidebar-nav li a .fas{ /*espaçamento dos icones no menu*/
    width: 16px;
    margin-left: -20px;
    margin-right: 35px;
}
#menu-toggle, #toggle-theme{ /*Visibilidade do botão de menu*/
    visibility: visible;
    //color: #fff;
}
#menu-toggle i, #toggle-theme i, #notifications i{ /*Visibilidade do botão de menu*/
    font-size: 25px;
}
#toggle-theme{
    right: 15px;
}
#notifications{
    right: 55px;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none !important;
}
.barra-horizontal .rounded-circle{
    width: 200px !important;
    height: 200px !important;
}
.barra-horizontal .rounded-circle{
    font-size: 6em; 
    background-color: #3b94af;
}
h4{
    color: white;
}
.container-fluid .row{
    margin-top: 0;
}
.colunas-home p{
    width: 100% !important;
    text-align: justify;
    margin: auto;
    font-size: 1.35em;
}
.line{
    border-right: none;
}
.vertical-line{
    visibility: hidden;
}
.last-container{
    height: 50vh;
}
.last-container h2{
    text-align: center;
    width: 85%;
}
.last-container p{
    width: 85%;
    font-size: 20px;
}
.last-container i{
    font-size: 10em; 
    color: white
}
.bg-dark2{
    background-color: #464b51!important;
    border-color: #464b51!important;
}
select.bg-dark2{
    border-left: 4px solid #FFC107 !important;
}
.modal-backdrop{
    width: 118vw;
    height: 118vh;
}
@media(min-width:1200px) {
    .first-container {
        overflow:hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(118vh - 78px);
    }
    #card-home{
        margin-top: 0rem!important;
    }
    .barra-central img{
        margin: 0 5%;
        width: 90%
    }
    .line{
        border-right: 2px solid #b1c6d0;
    }
    .vertical-line{
        width: 2px; 
        height: 400px; 
        background-color: #b5b5b5;
        visibility: visible;    
    }
    .last-container h2{
        text-align: right;
    }
}

@media(min-width:768px) {
    header .navbar{
        height: 78px;
    }
    #wrapper {
        padding-top: 78px;
    }
    .logo{
        margin-left: 0;
    }
    .logo img{
        width: 60px !important;
    }
    .logo h1{
        font-size: 2.5rem !important;
    }
    #menu-toggle{ /*Visibilidade do botão de menu*/
        visibility: hidden;
    }
    #wrapper {
        padding-left: 250px;
        height: 100%;
    }   
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: -250px;
    }
    #page-content-wrapper {
        padding: 0;
        position: relative;
        margin: 0 auto;
        overflow:hidden;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #card-home{
        height: 540px !important;
        margin-top: 1.5rem;
    }
    h2{
        width: 85%;
        margin: auto;
    }
    .colunas-home{
        padding: 60px 85px !important;
    }
    .colunas-home p{
       /*width: 85% !important;*/
    }
    footer{
        /*z-index: 1!important;*/
    }
}
@media(min-width:1600px) {
    .first-container{
        min-height: calc(100vh - 78px);
    }
}
footer{
    z-index: 0;
    background-color: #464B51;
    color: #ccc;
}
footer.shadow{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.90)!important;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
}
/*
####################--QuemSomos--####################
*/
.text-lg-left{
    width: 90% !important;
}
.text-lg-left + p{ /*Estilização do paragrafo*/
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
    text-align: left;
}
.row .col-lg-6 img{
    margin: 0 5%;
    width: 90%;
}
.componentes{
    width: 80% !important
}
@media(max-width:992px) {
    .descer{
        -ms-flex-order: 2;
        order: 2;
    }
}
/*
####################--Usuário--####################
*/
.btn{
    border-radius: 25px;
}
.row .d-inline-block{
    height: 520px;
}
.content{
    background-color: #343a40;
    width: 260px !important; 
    height: 260px !important;   
}
.fa-upload{
    font-size: 3.5em;
    opacity: 0;
}
.content img{
    opacity: 1;
    transition: opacity .35s;
    min-width: 260px;
    min-height: 260px;
    object-fit: cover;
}
#div_photo_user div{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
}
#div_photo_user:hover>a img{
    opacity: 0.4;
    background: #FFC107;
}
#div_photo_user:hover>a .fa-upload{
    opacity: 1;
    color: #fff !important
}
input[type="text"]:enabled , input[type="password"]:enabled, select{
    background: #f8f9fa;
    border: none;
    border-left: 4px solid #FFC107 !important;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
    color: black;
}
select{
    background:#f8f9fa!important; 
    border-left: 4px solid #FFC107 !important;  
}
.container-simulador select{
    border-left: 0px !important; 
}
select.form-control{
    color: black;
}
.usuario .input-group{
    width: 280px;
}
.usuario .btn{
    width: 280px !important; 
}

.title_log{
    margin: 20px 0px;
    font-size: 1.8em;
    text-align: center !important;
    min-width: 280px;
}
.usuario{
    padding-top: 0px !important;
}
.dropdown-menu{
    margin-top: -80px;
}
input[type=file]{
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
a#editar_senha{
    text-decoration: none;
}
a#editar_senha:hover{
    color: #007bff!important;
}
.text-white a#editar_senha:hover{
    color: #ffc107!important;
}
.atualize h2{
    text-align: left;
    margin: 0 auto;
    margin-right: 15%; 
    text-transform: none;
    font-weight: normal;
}
.atualize p{
    width: 100% !important;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.4em;
}
.atualize ul li{
    font-weight: lighter;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.1em;
}
@media(max-width:992px) {
    .atualize p, .atualize .col-md-12 .theme.text-white{
        width: 100% !important;
        padding: 0 !important;
    }
}
/*#################Animação Scroll#################*/
.js .anime {
    opacity: 0;
    transform: translate3D(-50px, 0px, 0px);
}
.js .animeRight{
    opacity: 0;
    transform: translate3D(50px, 0px, 0px);
}
.js .animeTop{
    opacity: 0;
    transform: translate3D(0px, -50px, 0px);
}
.js .anime-init {
    opacity: 1;
    transform: translate3D(0px, 0px, 0px);
    transition: .35s all ease;
}
/*https://codepen.io/origamid/pen/vXEmQJ?editors=0110*/